@charset "utf-8";
/* 冒頭でimport */
@import url('https://fonts.googleapis.com/css?family=Raleway:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,700&display=swap&subset=japanese');
/* フォントを指定したいところで */

logo img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover; /* 画像のトリミング */
}

logotohome img{
    border-radius: 70%;
    width: 70px;
    height: 70px;
    object-fit: cover; /* 画像のトリミング */
}



/* ========== common ========== */
  
html, body {
	font-size: 16px;
	font-family: sans-serif;
	color: #393939;
    margin-left: 15px;
    margin-bottom: 40px;
	background: #efefef;
}
h1{
    text-indent: 0em;
}
h2{
    margin-left: 1em;
    margin-top: 1em;
}
h3{
    margin-left: 2em;
}
div{
    margin-top: 1em;
    margin-left: 3em;
}
p{
    margin-left: 3em;
}
span.blackback{
    text-indent: 3em;
    background: #393939;
    color: #efefef;
}

/* 背景 */
  .bg_pattern {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00999900;
    opacity: 1;
    z-index: -1;
  }
  .Polka_v2 {
    background-image:  radial-gradient(#009999 1px, transparent 1px), radial-gradient(#009966 1px, #14e8be00 1px);
    background-size: 40px 40px;
    background-position: 0 0,20px 20px;
  }
/* 背景 */


html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;/*rem算出をしやすくするために*/
}

/* アイコン */
/*まずはお決まりのボックスサイズ算出をborer-boxに */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;/*rem算出をしやすくするために*/
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}
a.btn--green.btn--border-groove {
  border: 6px groove #009999;
}
/* アイコン */